$main-button-box-shadow: 0 2px 8px 0 #0000001c;
$main-button-after-box-shadow: 2px 2px 8px 0 #0000001c;

.wp-block-button__link {
  position: relative;

  text-align: left;
  text-transform: uppercase;

  box-shadow: $main-button-box-shadow;
}

.main {
  .has-purple-color {
    color: $primary;

    .has-purple-color:hover {
      color: #160b3b;
    }
  }

  .has-green-color,
  .has-green-color:hover {
    color: $green;
  }

  .has-magenta-color,
  .has-magenta-color:hover {
    color: $magenta;
  }
}

.has-purple-background-color {
  background-color: $primary;
}

.has-green-background-color {
  background-color: $green;
}

.has-light-green-background-color {
  background-color: #dbe934;
}

.has-magenta-background-color {
  background-color: $magenta;
}

@mixin add-arrow-css {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;
  height: 100%;

  background-color: #d0de36;
}

.add-arrow-right {
  a {
    padding-right: 81px;
  }

  .fa-arrow-right {
    font-size: 40px;

    width: 64px !important;
    padding: 10px;
    padding-left: 14px;

    @include add-arrow-css();
  }
}

.add-arrow-down {
  a {
    padding-right: 80px;
  }

  .fa-long-arrow-down {
    font-size: 40px;

    width: 60px !important;
    padding: 14px;
    padding-left: 22px;

    @include add-arrow-css();
  }
}

#exit,
#exit-phone {
  position: fixed;
  z-index: 999;
  right: 0;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    top: 82px;
  }
  @include media-breakpoint-up(lg) {
    top: 178px;
  }

  display: inline-block;

  width: 64px;
  height: 100px;
  padding: 0.556rem;

  text-align: center;

  color: $dark;
  background-color: $secondary;
  box-shadow: 0 4px 4px 0 #0000001c;

  &:hover {
    cursor: pointer;

    color: #160b3b;
    border-color: #9eab00;
    background-color: #aab800;
  }

  a {
    font-weight: 900;

    color: $dark;
  }

  svg {
    font-size: 28px;

    margin-top: 4px;
  }
}

// @include media-breakpoint-up(lg) {
//   #exit {
//     position: fixed;
//     z-index: 9999;
//     right: 0;
//     top: 30vh;
//   }
// }

@mixin btn() {
  font-weight: 800;

  display: inline-block;

  width: 100%;

  text-align: center;
  text-transform: uppercase;

  border-radius: 2px;
}

.btn-primary {
  font-size: $primary-button-font-size;

  padding: 15px;

  color: $white;
  background: $tertiary;

  @include btn();
}

.btn-secondary {
  font-size: $primary-button-font-size;

  padding: 15px;

  color: $tertiary;
  background: $secondary;

  @include btn();
}

.btn-tertiary {
  font-size: $tertiary-button-font-size;

  padding: 13px;

  color: $primary;
  border: 1px solid $primary;
  background: transparent;

  @include btn();
}

.button-group {
  @at-root #{&}__btn {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @at-root #{&}--small {
      width: 165px;
      margin: auto;
    }
  }
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  .fa-long-arrow-right {
    margin-left: 5px;
  }
}

[type='button']:hover,
[type='submit']:hover {
  cursor: pointer;
}
