/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  font-weight: normal;

  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.password-screen {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  @at-root #{&}__col-1 {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  @at-root #{&}__col-2 {
    position: relative;
    z-index: 5;
  }
}

form.protected-post-form {
  width: 100%;
  min-width: fit-content;
  height: 330px;
  margin: 0;
  padding: 42px;

  color: white;
  background: #30225c;

  h2 {
    font-weight: 600;

    text-transform: uppercase;

    color: white;
  }

  > div {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: 600;

    text-transform: uppercase;

    color: white;
  }

  input {
    width: 100%;
  }

  .btn--protected-post-form {
    max-width: fit-content;
    margin-top: 20px;
    padding: 3px 23px;

    border-radius: 6px;
  }

  .lost-password a {
    text-decoration: underline;

    color: white;
  }
}

aside.learn-more {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 -15px;
  margin-top: -90px;
  padding: 143px 44px 75px 44px;

  color: #ffffff;
  background: #a50064;
  background: url('../images/become-a-member.png');

  @include media-breakpoint-up(md) {
    margin: 0 0 0 -45px;
    padding: 118px 48px 118px 80px;
  }

  h2 {
    text-align: center;
    text-transform: none;

    color: #ffffff;
  }

  .btn--learn-more {
    width: 100%;
    padding: 5px;

    border: 3px solid #160b3b;
    background: #30225c;

    @include media-breakpoint-up(md) {
      width: fit-content;
    }
    a {
      text-decoration: none;

      color: white;
    }
  }
}

.gform_wrapper form {
  padding: 15px;

  color: $white;
  background-color: theme-color('primary');

  @include media-breakpoint-up(md) {
    .one-third-col {
      display: inline-flex;
      flex-direction: column;

      width: 33%;

      input {
        width: 100%;
        min-width: 100%;
      }

      &:nth-of-type(n+2) {
        position: relative;
        top: 2px;
        left: 12px;

        input {
          min-width: calc(100% - 12px);
        }
      }
    }

    .one-third-col.x2-col {
      width: 66%;
    }
  }

  label {
    text-transform: uppercase;
  }

  input,
  textarea {
    border: 0;
    border-radius: 3px;
  }

  li {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .gfield_radio li {
    display: flex;
    align-items: center;
    flex-direction: row;

    min-height: 30px;

    input,
    label {
      margin: 0 0 0 15px !important;;
    }
  }

  .gfield_required {
    color: $white !important;
  }

  input[type='submit'] {
    font-weight: 900;

    min-width: 100%;
    padding: 0;

    color: $magenta;
    background: theme-color('secondary');

    @include media-breakpoint-up(md) {
      min-width: 50%;
    }
  }

  div.validation_error {
    color: $white !important;
    border-top-color: $white !important;
    border-bottom-color: $white !important;
  }

  .gfield_error .gfield_label {
    color: $white !important;
    border-top-color: $white !important;
  }

  .validation_message {
    font-weight: 300 !important;

    padding: 8px 0 !important;

    color: $white !important;
    border-top-color: white !important;
    border-radius: 3px;
  }

  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  li.gfield_error textarea {
    border-color: $white !important;
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border-color: $white !important;
    background-color: theme-color('primary') !important;
  }

  ul.gform_fields li.gfield select {
    height: 34px;

    border-color: $white;
  }

  .gform_body ul.gform_fields {
    padding-inline-start: 0 !important;
  }
}
