.slick-prev::before,
.slick-next::before {
  font-family: $font-awesome;
  font-weight: 900;

  color: hsla(254, 69, 14, 0.34);
}

.slick-next::before {
  content: '\f054';
}

.slick-prev::before {
  content: '\f053';
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  // z-index: 10; // Without this, the nav dropsdowns are hidden behind the slider.
}

.slick-slider .photo {
  position: relative;
}

.main .slide-caption {
  position: relative;

  display: block;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  // width: 100%;
  // max-width: 80%;
  // height: 420px;

  height: fit-content;
  padding: 33px;

  color: #ffffff;
  background-color: $primary;

  @include horizontally_align_an_absolutely_positioned_element();
  @include media-breakpoint-up(md) {
    margin-top: -78px;
  }
  @include media-breakpoint-up(sm) {
    // height: 330px;
  }
  @include media-breakpoint-up(md) {
    // height: 280px;
    margin-top: -98px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: -121px;
  }

  .slide-caption__header {
    flex: 1;

    h3 {
      font-size: 14;
      font-weight: 700;

      position: absolute;
      top: 0;
      left: 0;

      margin-top: -41px;
      padding: 10px;

      color: $primary;
      background: $secondary;

      @include media-breakpoint-up(lg) {
        font-size: 20px;

        margin-top: -44px;
      }
    }

    h4 {
      font-size: 24px;
      text-transform: none;

      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }
  }

  .slide-caption__body {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    p {
      font-size: 14px;

      flex: 1;

      margin: 0;
      padding-right: 5px;

      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

    .slide-caption__body__read-more-link {
      align-self: flex-start;

      margin-top: 20px;

      @include media-breakpoint-up(sm) {
        align-self: flex-end;

        margin-top: 0;
      }

      a {
        font-size: 14px;
        font-weight: 600;

        text-transform: uppercase;

        color: $secondary;

        @include media-breakpoint-up(md) {
          font-size: 18px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 24px;
        }
      }
    }
  }
}
