/**
 * Main Menu
 */
.menu-collapser {
  font-size: 16px;
  line-height: 48px;

  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 8px;

  color: #ffffff;
}

.collapse-button {
  font-size: 14px;

  position: absolute;
  top: 50%;
  right: 8px;

  box-sizing: border-box;
  width: 40px;
  padding: 7px 10px;

  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;

  color: #ffffff;
  border-radius: 2px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #040404;
  }

  .icon-bar {
    display: block;

    width: 18px;
    height: 2px;
    margin: 2px 0;

    border-radius: 1px;
    background-color: #f5f5f5;
  }
}

.slimmenu {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  &::before,
  &::after {
    display: table;

    content: '';
  }

  &::after {
    clear: both;
  }

  li {
    position: relative;

    display: inline-block;
    float: left;

    margin-right: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.075);

    &:hover, &:focus {

      & > a,
      & > .sub-toggle > i {
        color: $purple;
        background-color: $white;
      }
    }

    ul {
      width: 200px;
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        width: 100%;
      }
    }

    > ul {
      position: absolute;
      z-index: 999;
      top: 100%;
      left: 0;

      display: none;

      width: 100%;
      padding-left: 30px;

      > li ul {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 100%;

        display: none;

        width: 100%;
      }
    }

    a {
      // font-size: 20px; // 20px is on the designs but didn't fit.
      font-size: 16px;
      font-weight: bold;

      display: block;

      padding: 10px 20px;

      color: #ffffff;
      border-bottom: 0;

      &:hover, &:focus {
        text-decoration: none;

        color: $purple;
        background-color: $white;
      }
    }

    li .sub-toggle {
      @include media-breakpoint-up(lg) {
        right: 0;
      }
    }

    .sub-toggle {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;

      width: 48px;
      height: 100%;

      cursor: pointer;
      transform: rotate(233deg); // Replace with real toggle img.
      text-align: center;

      background: none;

      @include media-breakpoint-up(lg) {
        right: -25px;
        background-color: transparent;
      }

      &::before {
        display: inline-block;

        height: 100%;
        margin-right: -0.25em;

        content: '';
        vertical-align: middle;
      }

      > i {
        font-size: 18px;

        display: inline-block;

        transform: scale(0.5);
        vertical-align: middle;

        color: #ffffff;
      }
    }
  }

  &.collapsed {
    li {
      display: block;

      box-sizing: border-box;
      width: 100%;

      > ul {
        position: static;

        display: none;
      }

      a {
        display: block;

        box-sizing: border-box;

        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      }

      .sub-toggle {
        height: 40px;
      }
    }
  }
}

#menu-primary-navigation {
  position: absolute;
  z-index: 100;
  right: 0;

  background-color: #000000;

  @include media-breakpoint-up(md) {
    top: 30px;
    right: 8px;
  }
}

/**
   = Media Queries
**/

@include media-breakpoint-up(xl) {
  .slimmenu {
    li:nth-child(n + 5) > ul > li ul {
      right: 100%;
      left: unset;
    }

    > li {
      border-bottom: 0;

      > a {
        font-weight: 700;

        text-transform: uppercase;
      }
    }

    li {
      a {
        padding: 12px 16px 12px 16px;
      }

      ul li {
        background-color: #bbbbbb;
      }

      > ul {
        width: auto;
        min-width: 264px;
        padding-left: 0;
      }
    }
  }

  #menu-primary-navigation {
    position: static;

    background-color: transparent;
  }
}
