// Accordion

// Fix bug where accordion looks funky at ~850px
@media (max-width: 1024px) {
  .lgc-clear {
    display: block !important;
  }
}

.main {
  .accordion-block {
    margin-bottom: 16px;
  }

  .card {
    border: 0;
    border-radius: 0;
  }

  // .fa-arrow-circle-down:before {
  //   content: '';
  // }

  div.accordion-block .card-header {
    padding: 0;

    border: 0;

    h5 {
      padding-left: 40px;

      text-transform: uppercase;
    }

    button {
      width: 100%;
    }

    .btn {
      display: flex;
      align-items: center;
      flex-direction: row;

      padding: 0;

      border: 0;

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 74px;
        height: 107px;

        border: 1px solid #979797;
        background-color: #e9eaeb;
      }

      span.plus {
        display: none;

        min-width: 75px;
        max-width: 75px;
      }

      span.minus {
        display: flex;

        min-width: 75px;
        max-width: 75px;
      }

      &.collapsed span.plus {
        display: flex;
      }

      &.collapsed span.minus {
        display: none;
      }
    }
  }

  .card-body {
    padding: 35px 40px 100px 40px;

    background: $white;
  }
}
