.member-area-container {
  margin-top: 70px;
  padding-bottom: 70px;

  background: rgba(48, 34, 92, 0.057);
  background-image: linear-gradient(to right, transparent, #ffffff);

  .tab-content {
    position: relative;

    margin-top: 30px;
    padding: 20px;

    border: 1px solid rgba(221, 223, 225, 0.56);
    background: #ffffff;
    box-shadow: 0 2px 14px 0 rgba(164, 171, 178, 0.3);

    @include media-breakpoint-up(md) {
      top: -36px;

      margin-top: 0;
      padding: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding: 36px;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;

      margin-bottom: 53px;
      padding-right: 25px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }
    }

    hr {
      margin: 13px 0;

      @include media-breakpoint-up(md) {
        margin: 20px 0;
      }
      @include media-breakpoint-up(xl) {
        margin: 30px 0;
      }
    }

    date {
      font-size: 14px;
      font-weight: 500;

      display: inline-block;

      margin-bottom: 15px;

      color: #a4abb2;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 700;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }

      a {
        text-transform: unset;
      }
    }

    .slick-slide img {
      width: 100%;

      object-fit: contain;
    }
  }
}

.tab-pane__header {
  a.btn {
    font-size: 12px;
    font-weight: 400;

    width: fit-content;
    min-width: fit-content;
    height: fit-content;
    padding: 0;
    padding: 5px 8px;

    color: #50476b !important;
  }
}

.page__tags {
  position: absolute;
  top: -8px;
  left: 0;

  color: #ffffff;

  .tag {
    margin-right: 8px;
    padding: 5px;

    background: #a50064;
  }
}

.nav-pills {
  @include media-breakpoint-down(sm) {
    align-items: center;
  }

  .nav-title.nav-link,
  .nav-title.nav-link.active,
  .nav-title.nav-link.text-secondary {
    background: transparent;
    box-shadow: none;
    height: 76px;
    position: relative;
    top: -56px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    margin-bottom: -30px;

    .nav-title__image {
      position: absolute;
      left: -23px;

      width: 76px;
      height: 76px;

      border: 3px solid #ffffff;
      border-radius: 100px;
      background-color: #e8eac9;
      background-image: url(/wp-content/themes/vsdvaa/resources/assets/images/member-nav-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 43px;

      @include media-breakpoint-up(xl) {
        width: 97px;
        height: 97px;
      }
    }

    .nav-title__text {
      font-size: 14px;
      font-weight: 700;
      line-height: 1;

      display: flex;
      align-items: center;
      flex: 1;
      flex-direction: row;
      justify-content: center;

      width: 100%;
      height: 43px;
      margin-left: 47px;

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      background-color: #a50064;

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
    }
  }


  .nav-link,
  .nav-link.active,
  .nav-link.text-secondary {
    font-weight: 600;

    position: relative;

    display: flex;
    flex-direction: column;

    height: 100px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-left: 28px;

    text-transform: uppercase;

    color: #30225c !important;
    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), 67%, rgba(164, 171, 178, 0.01) 67%);
    box-shadow: -10px 5px 20px 0 rgba(88, 93, 98, 0.2);

    @include media-breakpoint-down(sm) {
      width: 85%;
    }
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    &:not(.active) {
      border-left-color: transparent !important;
    }

    &.not-allowed {
      cursor: not-allowed;
      // background: linear-gradient(to bottom, rgba(248, 248, 250 0.01), 67%, #f4f4f6 67%) !important;

      opacity: 0.5;
      border-left-color: transparent !important;
    }

    > div {
      flex: 1;
    }

    .text-secondary {
      color: #30225c !important;

      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }

    i {
      margin-right: 7px;
      // -8px is the default to set it just to the
      // left of the text. If you want more space,
      // you need to adjust the two below in unison.
      // margin-left: -8px;
      margin-left: -15px;
    }
  }
}
