// Pagination
.pagination > * {
  margin: 5px;
}

main .page-numbers {
  min-width: 31px;

  text-align: center;

  color: $primary;
  border-bottom: 1px solid $primary;

  &:hover {
    text-decoration: none;
  }

  &.current {
    color: $pagination-unclickable;
    border-bottom: 0;
  }

  &.prev,
  &.next {
    border-bottom: 0;
  }
}
