.get-help {
  margin-bottom: 100px;

  @at-root #{&}__header {
    padding: 18px 40px;

    color: $gray;
    border-left: 20px solid $secondary;
    background: $purple-light;

    @at-root #{&}__title {
      font-size: $map-title-font-size;
      font-weight: bold;

      margin-bottom: 4px;

      @include media-breakpoint-up(md) {
        font-size: 36px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 68px;
      }
    }

    @at-root #{&}__subtitle {
      font-size: $map-subtitle-font-size;
      font-weight: normal;

      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 38px;
      }
    }

    p {
      color: $white;
    }

    .locality {
      margin: auto;
    }

    .searchandfilter {
      h4 {
        display: none;
      }

      ul {
        padding: 0;

        li {
          padding: 0;
        }
      }

      label {
        width: 100%;
      }

      select.sf-input-select {
        font-size: $map-input-font-size;
        font-weight: bold;

        width: 100%;
        height: 40px;

        text-align: center; // Firefox
        text-align-last: center; // Chrome
        text-transform: uppercase;

        color: $primary;
        border: none;
        border-radius: 0 !important;
      }
    }

    li.sf-field-search {
      display: none;
    }
  }

  @at-root #{&}__map {
    padding-right: 0;

    .search-filter-results,
    #map-canvas,
    .acf-map {
      // @include media-breakpoint-up(sm) {
      //     height: 100%;
      // }
    }
  }

  @at-root #{&}__footer {
    font-size: $get-help-list-font-size;

    color: $white;
    background: $primary;

    .nav-tabs {
      margin-bottom: 40px;

      border: 2px solid $primary;
      background: $primary;

      .nav-item {
        width: 50%;
      }
    }

    .nav-link {
      font-size: $get-help-title-font-size;
      font-weight: bold;

      text-align: center;
      text-transform: uppercase;

      color: $primary;
      border-color: transparent !important; // overriding stylesheet that I don't control
      border-top-right-radius: 10px;
      background: $white;

      &.active {
        color: $white;
        background: $primary;
      }
    }

    .tab-content {
      padding: 25px;

      ul {
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
          @include flexbox();
        }
        @include flex-direction(column);
        @include media-breakpoint-up(sm) {
          @include flex-direction(row);
        }
      }

      li {
        font-weight: bold;

        margin-bottom: 55px;

        @include media-breakpoint-between(sm, md) {
          width: 45%;
          margin-right: 3%;
          margin-right: 5%;
        }
      }

      p {
        width: 100%;

        @include media-breakpoint-between(sm, md) {
          display: inline-block;

          width: 47%;

          &:first-of-type {
            float: left;

            margin-right: 2%;
          }
        }
      }

      a {
        font-size: $primary-button-font-size;
        font-weight: 800;

        display: block;
        display: inline-block;
        flex: 1;

        width: 100%;
        // padding: 15px;
        padding: 11px;

        text-align: center;
        text-transform: uppercase;
        // color: $tertiary;

        border-radius: 3px;
        // background: $secondary;
      }
    }
  }
} // end of Get-help

.get-help__map_interior {
  background-size: cover !important;
  padding-top: 50%;
  
  .btn {
    background-color: $purple;
    color: $green;
    border-color: #fff;
    border-width: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    @include media-breakpoint-up(md) {
      font-size: 34px;
      padding-left: 40px;
      padding-right: 40px;
    }
    
    @include media-breakpoint-up(xl) {
      font-size: 42px;
      padding-left: 50px;
      padding-right: 50px;
    }
    
  }
  
}

.footer__get-updates-wrapper {
  margin-top: 50px;
  padding: 50px 0;

  text-align: center;

  background-color: $purple;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  h3 {
    font-size: 32px;

    text-transform: none;

    color: #ffffff;

    @include media-breakpoint-up(lg) {
      font-size: 42px;
    }
  }

  input[type='text'] {
    font-size: 22px !important;

    padding: 7px 10px !important;

    text-transform: uppercase;

    border: none;
    //border-top-left-radius: 5px;
    //border-bottom-left-radius: 5px;
    border-radius: 3px;
    box-shadow: none !important;

    @include media-breakpoint-up(md) {
      padding: 20px 10px !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 32px !important;
    }
  }

  input[type='submit'] {
    font-size: 20px !important;

    position: relative;

    margin: 0 !important;
    padding: 3px;

    cursor: pointer;

    @extend .btn-secondary;
    @include media-breakpoint-down(sm) {
      line-height: 58px !important;
    }
    @include media-breakpoint-up(sm) {
      width: 100% !important;
    }
    @include media-breakpoint-up(md) {
      font-size: 32px !important;

      right: 20px !important;
      bottom: 0;

      margin: 0 0 0 16px !important;
      margin-top: 15px !important;
      padding: 13px 55px 13px 55px !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      line-height: 47px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0 !important;
      padding: 20px 55px 21px 55px !important;
    }
  }

  > .container form {
    @include media-breakpoint-up(lg) {
      //@include flexbox;
      align-items: baseline;

      .gform_body {
        //text-align: right;
        //padding-left: 232px;
      }
    }
  }

  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 5px !important;
  }

  .gform_wrapper .top_label input.medium,
  .gform_wrapper .top_label select.medium {
    @include media-breakpoint-up(lg) {
      width: calc(80% - 8px);
    }
  }

  .gform_wrapper .top_label .ginput_container.ginput_container_email input.medium {
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: calc(100% - 246px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .gform_wrapper .gform_footer {
    padding-right: 5px;

    @include media-breakpoint-up(md) {
      float: right;

      width: auto;
      margin-top: -104px;
    }
  }
}

.content-info {
  font-size: $content-info-font-size; // Regular

  text-align: center;

  color: $tertiary;
  background: $white;

  @include media-breakpoint-up(md) {
    margin-top: 87px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 96px;
  }

  .widget_text h3 {
    font-size: 24px;

    text-transform: none;

    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 42px;
    }
  }

  .footer-bottom {
    font-size: $content-info-link-font-size; // Bold
    font-weight: bold;

    a {
      color: $primary;
      text-transform: uppercase;
    }

    .footer-menu {
      margin-top: 130px;

      color: $gray-dark;

      @include media-breakpoint-up(lg) {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);

        .info::after {
          padding-left: 5px;

          content: '|';
        }

        > * {
          width: auto;
        }
      }

      a {
        font-size: $content-info-info-link-font-size; // Regular
        text-transform: none;

      }
    }
  }

  .flex-parent {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    @include media-breakpoint-up(md) {
      @include flex-direction(row);
      @include align-items(flex-start);
    }

    .menu-primary-navigation-container {
      align-self: flex-end;
    }

    > *:first-child {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 70%;
      }
    }

    > *:last-child {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 25%;
      }
    }
  }
}

.social-media-buttons {
  margin-bottom: 56px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  li.list-inline-item {
    margin-right: 15px;
  }

  li:last-of-type {
    display: block;

    margin-top: 14px;

    @include media-breakpoint-up(md) {
      margin-top: 53px;
    }
  }
}

footer {
  .btn-primary {
    padding: 10px;
  }

  .text-2 {
    //Footer Blurb
    h3 {
      display: none;
    }

    .textwidget {
      font-size: 24px;

      @include media-breakpoint-up(md) {
        font-size: 28px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
      p {
        color: $magenta;
      }
    }
  }

  .footer-widget {
    > section:first-of-type {
      margin: 35px 0;

      @include media-breakpoint-up(md) {
        margin: 0;

        text-align: start;
      }
    }
  }

  .footer-bottom {
    clear: both;

    .flex-parent {
      @include media-breakpoint-up(md) {
        align-items: flex-end;

        margin-bottom: 30px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 71px;
      }
    }

    .main-footer-menu {
      font-weight: normal;

      margin-bottom: 96px;
      padding-left: 0;

      list-style: none;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;

        text-align: start;
      }

      ul {
        padding-inline-start: 0;
      }

      li {
        font-weight: bold;

        display: block;

        margin-top: 16px;

        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          display: inline-block;
        }

        &::after {
          @include media-breakpoint-up(md) {
            padding-left: 15px;

            content: ' ';
          }
        }
      }

      .social-media-buttons {
        display: none;
      }
    }
  }

  .info {
    font-size: $content-info-info-link-font-size;
    font-weight: normal;

    float: left;

    width: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 17px;
    }
  }

  #menu-footer-menu {
    float: left;

    width: 100%;
    margin-bottom: 97px;
    padding-left: 0;

    list-style: none;

    color: $gray-dark;

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include media-breakpoint-up(md) {
      @include flex-direction(row);
    }

    li {
      font-weight: normal;

      display: block;

      padding-left: 5px;

      &::after {
        @include media-breakpoint-up(md) {
          padding-left: 5px;

          content: '|';
        }
      }

      &:last-of-type::after {
        @include media-breakpoint-up(md) {
          padding-left: 5px;

          content: '';
        }
      }

      a {
        text-decoration: underline;

        color: $gray-dark;
      }
    }
  }
}

.footer-widget .button-group {
  @include media-breakpoint-up(lg) {
    margin-top: 12px;
  }

  @at-root #{&}__btn {
    margin-bottom: 13px;
  }
}
