header {
  .btn-primary {
    font-size: 14px;
    line-height: 24px;

    padding: 0;

    border: 1px solid #ffffff;
    border-radius: 3px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 23px;

      padding: 0 9px;

      border: 3px solid #ffffff;
    }
    @include media-breakpoint-up(xl) {
      font-size: 24px;

      padding: 6px;
    }
  }

  .btn-tertiary {
    font-size: 10px;
    line-height: 18px;

    padding: 0;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 19px;

      padding: 4px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
      line-height: 20px;

      padding: 8px;
    }
  }

  &.banner {
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;

    &.stick {
      .nav-primary {
        background-color: #ffffff;
      }
    }
  }

  &.banner .nav li {
    @extend .nav-item;
  }

  &.banner .nav a {
    @extend .nav-link;
  }

  .nav-primary {
    height: 66px;

    border-bottom: 10px solid $primary-transparent;
    background: $white-transparent;

    @include media-breakpoint-up(md) {
      height: 82px;
    }
    @include media-breakpoint-up(xl) {
      height: 98px;

      border: 0;
    }

    @at-root #{&}__extra {
      height: 100%;

      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      @at-root #{&}__logo {
        width: 50%;

        img {
          position: relative;
          z-index: 999;
          top: 13px;

          width: auto;
          height: 43px;

          @include media-breakpoint-up(md) {
            height: 64px;
          }
          @include media-breakpoint-up(xl) {
            height: 90px;
          }
        }
      }

      @at-root #{&}__social-media-links {
        min-width: 221px;
        margin-right: 20px;

        ul {
          margin: 0;
        }
      }

      @at-root #{&}__calls-to-action {
        width: 50%;

        @include flexbox();
        @include flex-direction(column);
        @include media-breakpoint-up(md) {
          @include align-items(center);
          @include flex-direction(row);
        }

        @at-root #{&}__first-group {
          flex: 1;

          margin-bottom: 2px;

          @include flexbox();
          @include flex-direction(row);
          @include media-breakpoint-up(md) {
            flex: 3;

            margin-bottom: 0;
          }

          @at-root #{&}__join {
            width: calc(30% - 5px);
            margin-right: 5px;

            @include media-breakpoint-up(lg) {
              width: calc(30% - 10px);
              margin-right: 10px;
            }
            @include media-breakpoint-up(xl) {
              width: calc(30% - 15px);
              margin-right: 15px;
            }
          }

          @at-root #{&}__events {
            flex: 2;

            min-width: 89px;

            @include media-breakpoint-up(md) {
              width: calc(30% - 10px);
              margin-right: 10px;
            }
            @include media-breakpoint-up(xl) {
              width: calc(30% - 15px);
              margin-right: 15px;
            }
          }
        }

        @at-root #{&}__second-group {
          flex: 1;

          @include flexbox();
          @include flex-direction(row);

          @at-root #{&}__donate {
            flex: 2;
          }

          @at-root #{&}__hamburger-menu {
            width: 24px;
            margin-left: 5px;

            @include media-breakpoint-up(md) {
              width: 29px;
              margin-left: 10px;
            }
          }
        }
      }
    }

    @at-root #{&}__sitemap {
      position: relative;
      z-index: 200;
      left: 7px;

      transition: all 0.5s;

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        margin-left: -10px;

        opacity: 0.97;
        background: $primary;

        .slimmenu li a {
          color: $white;
        }

        .slimmenu li:hover > a, .slimmenu li > a:focus {
          color: $primary;
          background-color: $white;
        }
      }

      .menu-collapser {
        line-height: 24px;

        height: 24px;
        padding: 0;

        .collapse-button {
          width: 24px;
          margin-top: -75px;
          padding: 3px;

          border-radius: 2px;
          background: $primary;

          @include flexbox();
          @include flex-direction(column);
          @include align-items(center);
          @include media-breakpoint-up(md) {
            width: 29px;
            margin-top: -96px;
            padding: 5px;
          }

          .icon-bar {
            width: 14px;

            @include media-breakpoint-up(md) {
              width: 18px;
            }
          }
        }
      }

      .container {
        @include media-breakpoint-up(xl) {
          display: flex;
          align-items: center;
          flex-direction: column;

          min-width: 1060px;
        }
      }
    }
  }
}

.menu-primary-navigation-container {
  position: relative;
  top: 48px;
}

#menu-primary-navigation .social-media-buttons {
  margin-bottom: 0;

  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include media-breakpoint-up(xl) {
    display: none;
  }

  > a:first-of-type {
    display: none;
  }

  a {
    padding: 10px;

    @include media-breakpoint-up(md) {
      padding: 10px;
    }
  }

  .keep {
    font-size: 12px;

    flex: 1;

    padding-left: 20px;

    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);

    span {
      font-size: 17px;

      margin-right: 5px;
    }
  }
}

#menu-primary-navigation {
  position: fixed;
  left: 0;

  overflow-x: hidden;
  overflow-y: auto;

  max-height: calc(100vh - 93px);
  margin-top: -72px !important;

  text-transform: uppercase;

  opacity: 0.95;
  border: 3px solid #160b3b;
  background: $dark;

  scrollbar-color: $purple $purple-light;
  scrollbar-width: thick;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 50px;
    left: auto;

    margin-top: -98px !important;

    background: $primary;
  }
  @include media-breakpoint-up(xl) {
    position: relative;

    display: flex !important;
    overflow: visible;

    min-width: 100vw;
    margin-top: 0;

    border: 0;

    @include flex-direction(row);
    @include justify-content(center);
  }

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $purple;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $purple-light;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  li:not(.social-media-buttons) {
    a {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 115%;
      }
    }

    ul li a {
      width: 100%;
    }
  }

  .sub-menu li {
    @include media-breakpoint-up(xl) {
      opacity: 1;
      border-bottom: none;
      background: $primary;

      &:last-of-type a {
        border-bottom: 0;
      }

      a {
        padding: 10px 16px;

        border-bottom: 1px solid $white-transparent;
      }
    }
  }
}

a:focus ~ .sub-toggle, a:hover ~ .sub-toggle {
  background: transparent;

  i {
    color: $primary;
  }
}

/* Media Queries */

@include media-breakpoint-down(sm) {
  .banner.stick {
    // When scroll down

    .logo-links {
      display: none;
    }
  }
}
