.home-slider {
  clear: both;

  margin-top: -170px;

  .slick-slide {
    img {
      max-width: 100%;

      object-fit: cover;
      @include media-breakpoint-up(md) {
      }
    }
  }

  .slick-prev {
    z-index: 10;
    left: 15px;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .slick-next {
    right: 15px;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.get-help {
  form {
    background: #50466c;
  }
}

// Ensures that map height matches the "Get Help / Ayuda" sidebar height
.get-help__map > div,
div#map-canvas {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.acf-map {
  width: 100%;
  height: 45vw;

  border: #cccccc solid 1px;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }

  img {
    max-width: inherit !important;
  }
}

.home-section {
  &.blurb {
    font-size: $blurb-font-size;

    padding: 50px 0;

    text-align: center;

    color: $primary;

     @include media-breakpoint-up(md) {
        font-size: 28px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 32px;
      }
  }
} // end of .home-section

.events-news {
  font-weight: bold;

  margin-top: 15px;
  margin-bottom: 31px;

  @include media-breakpoint-up(md) {
    margin-top: 55px;

    &:nth-of-type(2) {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }

  .events {
    @include media-breakpoint-down(md) {
      position: relative;
      top: -15px;
    }
  }

  &:nth-of-type(2) {
    margin-top: 0;
  }

  .slick-slider .slick-list {
    margin-bottom: 0; // TODO: Better would be to specify that the margin on the hero slider is just for the hero?
  }

  @at-root #{&}__title {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 900;

    width: fit-content;
    margin: 0;

    color: $primary;
    background: $secondary;

    @include media-breakpoint-up(xl) {
      margin-top: -75px;
    }
  }

  @at-root #{&}__image {
    img {
      width: auto;
      height: 260px;

      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 588px;
      }
    }
  }

  @at-root #{&}__summary {
    position: relative;

    width: 90%;
    margin: auto;
    margin-top: -25px;
    padding: 14px;

    color: $white;
    background: $primary;

    @include media-breakpoint-up(md) {
      bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 22px;

      bottom: 70px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -75px;
    }

    p {
      color: $white;
    }
  }
}

.advance-policy {
  padding: 50px 0;

  .section-title {
    h2 {
      font-size: 30px;

      margin-bottom: 50px;
    }
  }

  h3 {
    height: 35px;
    margin: 15px 0;
  }

  .excerpt {
    padding-top: 15px;

    border-top: 1px solid #eeeeee;
  }
}

/* Media Queries */

@include media-breakpoint-up(md) {
  .home-slider {
    .slick-slide {
      img {
        width: 100%;
      }
    }

    .slick-prev {
      left: 25px;
    }

    .slick-next {
      right: 50px;
    }

    .slick-prev::before,
    .slick-next::before {
      font-size: 50px;
    }
  }
}

.changing-culture {
  margin-bottom: 55px;

  @include flexbox();
  @include flex-direction(column);
  @include media-breakpoint-only(xl) {
    @include flex-direction(row);
  }

  > div {
    @include media-breakpoint-only(xl) {
      max-width: 49.9%;
      margin-right: 1px;
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }
  }
}

.subpage-link {
  flex: 1;
  display: flex;

  a {
    margin-bottom: 1px;

    @include flexbox();
    @include flex-direction(row);

    &:nth-of-type(3) {
      margin-bottom: 0;
    }

    &:hover .subpage-link__image img {
      filter: grayscale(0);
    }
  }

  @at-root #{&}__image {
    overflow: hidden;
    flex: 1;

    min-width: 200px;
    max-width: 230px;

    img {
      width: auto;
      height: 100%;

      object-fit: cover;
      filter: grayscale(1);
    }
  }

  @at-root #{&}__summary {
    flex: 3;

    padding: 28px;

    color: $white;
    background: $primary;

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include media-breakpoint-only(md) {
      padding: 44px;
    }

    @at-root #{&}__title {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      // TODO: Possible we want to rewrite this some other way depending on what
      //       browsers we're supporting. Refer here:
      //       https://css-tricks.com/line-clampin/

      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;

      margin-bottom: 11px;

      -webkit-line-clamp: 2;
      @include media-breakpoint-only(xs) {
        margin: 0;
      }
      @include media-breakpoint-up(lg) {
        font-size: 30px;
      }
    }

    @at-root #{&}__description {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    & *,
    & *:hover {
      color: $white;
    }
  }
}

// TODO: Possible that it would be better to write this using :first-of-type property rather
//       than creating two sets of HTML. Not sure tho, depends on what we want the semantics
//       to be.
.first {
  &.subpage-link {
    height: 100%;

    @include flex-direction(column);
  }

  a {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .subpage-link {
    @at-root #{&}__image {
      flex: 1;

      max-width: unset;
      max-height: 450px;

      @include media-breakpoint-up(lg) {
        max-height: unset;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: top;
      }
    }

    @at-root #{&}__summary {
      flex: unset;
      min-height: 184px;

      @include media-breakpoint-up(lg) {
        height: 33%;
      }

      @at-root #{&}__description {
        display: block;
      }
    }
  }
}

.events .events-news {
  @at-root #{&}__title {
    font-size: $events-title-font-size;
    text-transform: uppercase;

    padding: 6px 20px;
  }
}

.news .events-news {
  @at-root #{&}__title {
    font-size: $news-title-font-size;
    font-weight: 900;
    text-transform: uppercase;

    padding: 6px 20px;

    @include media-breakpoint-up(lg) {
      margin-top: -17px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -74px;
    }
  }
}

#news-slider {
  .slick-slide img {
    width: 100%;
    height: 260px;

    object-fit: cover;
    @include media-breakpoint-up(md) {
      height: 588px;
    }
  }

  .entry-title {
    font-size: $news-header-font-size;

    margin-bottom: 19px;

    a {
      font-weight: 600;

      color: $white;
    }
  }

  .entry-summary {
    position: relative;

    width: 90%;
    margin: auto;
    margin-top: -25px;
    padding: 16px;

    color: $white;
    background: $primary;

    @include media-breakpoint-up(md) {
      bottom: 100px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -46px;
    }

    p {
      font-size: $news-body-font-size;
      font-weight: 400;

      color: $white;
    }
  }

  time {
    font-size: $news-date-font-size;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: -41px;
    padding: 10px;

    text-transform: uppercase;

    color: $primary;
    border-left: 3.5px solid $secondary;
    background: rgba(255, 255, 255, 0.8);
  }

  .slick-dots {
    left: 5%;

    text-align: left;

    @include media-breakpoint-up(sm) {
      bottom: 55px;
    }
  }

  .slick-dots li button::before {
    font-size: 12px;

    text-align: left;

    opacity: 0.5;
    color: $primary;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1 !important;
  }

  .slick-dots li:first-of-type {
    margin-left: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}

.build-skills {
  .section-title {
    font-size: $build-skills-header-font-size;
    font-size: 38px;

    margin-top: 55px;
    margin-bottom: 35px;

    text-align: center;
    text-transform: uppercase;

    color: $magenta;

    @include media-breakpoint-up(md) {
      font-size: 68px;
    }

    p {
      color: $tertiary;
    }
  }

  ul.row {
    list-style: none;

    padding-inline-start: 0;
  }

  @at-root #{&}__option {
    margin-bottom: 32px;

    text-align: center;

    > * {
      display: inline-block;

      width: 125px;
      margin: auto;

      @include media-breakpoint-up(md) {
        width: 265px;
      }
    }

    img {
      width: 122px;
      height: 122px;
      margin-bottom: 18px;

      border: 3px solid $primary;
      border-radius: 100%;

      object-fit: cover;
      filter: grayscale(100%);
      @include media-breakpoint-up(md) {
        width: 242px;
        height: 242px;
      }
    }

    h2 {
      font-size: $build-skills-list-font-size;
      font-weight: 600;
      text-transform: uppercase;

      color: $primary;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
    }

    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}
