.main {

    font-family: 'Barlow', sans-serif;
    font-size: 16px;

    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }

  h2 {
    font-family: 'Barlow Bold', sans-serif;
    font-size: 24px;

    margin-bottom: 20px;

    text-transform: uppercase;

    color: #50476b;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 32px;
    }
  }

  p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;

    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }

  ul:not(.share-buttons) {
    padding-inline-start: 26px;

    li {
      margin-bottom: 17px;
      padding-left: 10px;
    }
  }

  a {
    color: $magenta;
  }
}

p {
  color: $dark;
}

#get-help ul li,
#ayuda ul li,
.main ul.li--right-arrow li {
  padding-bottom: 10px;
  padding-left: 33px;

  list-style: none;

  background-image: url('../images/arrow-right-purple-outlined.png');
  background-repeat: no-repeat;
  background-position: 0 1px;
}

#get-help ul,
#ayuda ul {
  padding-inline-start: 20px;

  li {
    padding-bottom: 0;
    padding-left: 46px;

    background-image: url('../images/arrow-right-gray-outlined.png');
    background-position: 0 7px;
  }
}

#breadcrumbs {
  margin-top: 36px;
  margin-bottom: 0;

  * {
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    font-weight: bold;

    padding-left: 4px;

    color: $dark;

    &:first-of-type {
      padding-left: 0;
    }
  }

  .separator {
    font-weight: normal;
  }

  span {
    font-weight: normal; // TODO: It's sposed to be "Barlow Light"
  }
}

.share-title {
  font-family: 'Barlow ExtraLight', sans-serif;
  font-size: 16px;

  color: #d5d2db;
}

.share-buttons {
  margin-bottom: 32px;

  li {
    margin-right: 6px;
  }

  li:not(.share-title) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: 1px solid #d5d2db;
    border-radius: 85px;
  }

  a {
    color: $purple;
  }
}
