aside .widget_text {
  padding: 38px 46px 45px 46px;

  text-transform: uppercase;

  color: $white;
  background: $primary;

  p {
    color: #fff;
  }

  h3 {
    font-size: 32px;
    font-weight: 900;
  }

  a {
    color: $secondary;
  }
}

.sidebar {
  margin-top: 100px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.sidebar-box {
  padding: 76px 28px 31px 45px;

  color: $white;
  background: $primary;

  @at-root #{&}__header {
    position: absolute;
    top: -60px;
    left: -18px;

    display: flex;
    align-items: center;
    flex-direction: row;

    width: max-content;
    padding: 17px 30px 23px 11px;

    cursor: pointer;
    text-align: left;
    text-transform: uppercase;

    color: $white;
    border: 0;
    background: $tertiary;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);

    @at-root #{&}__question-mark {
      margin-right: 18px;

      &::after {
        position: absolute;
        bottom: -2px;

        display: inline-block;

        width: 52px;
        height: 15px;

        content: '';

        border-bottom: 5px solid $green;
        background-size: 40px;
      }
    }

    @at-root #{&}__title {
      font-family: 'Barlow', sans-serif;
      font-size: 22px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 32px;
      }
    }

    @at-root #{&}__subtitle {
      font-family: 'Barlow', sans-serif;
      font-size: 14px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

    @at-root #{&}__arrow {
      margin-left: 42px;
    }
  }

  @at-root #{&}__content {
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  &__content {
    p {
      color: #fff;
    }
  }
}
