// Governing Body
.governing-body {
  @at-root #{&}__featured-image {
    margin-bottom: 49px;
  }

  h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 900;

    margin-bottom: 39px;

    color: $tertiary;
  }

  @at-root #{&}__officers {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    @at-root #{&}__title {
      flex: 2;
    }

    @at-root #{&}__list {
      flex: 10;

      @at-root #{&}__hr {
        margin-bottom: 43px;
      }
    }
  }
}

.staff-card {
  margin-bottom: 50px;

  @at-root #{&}__name {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 900;

    margin-bottom: 12px;

    text-transform: uppercase;

    color: $primary;

    @include media-breakpoint-up(lg) {
      // margin-bottom: 43px;
    }
  }

  @at-root #{&}__title {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 13px;

    color: $governing-body-title-color;
  }

  hr {
    width: 44px;
    margin: 0;
    margin-bottom: 8.5px;

    color: $secondary;
    border-bottom: 1px solid $secondary;
  }

  @at-root #{&}__organization {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 400;

    text-transform: uppercase;

    opacity: 0.75;
    color: $primary;
  }
}
