// News Archive
.page-id-343 {
  main {
    order: 2;

    @include media-breakpoint-up(lg) {
      order: 1;
    }
  }

  aside {
    order: 1;

    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }
}

.news-sidebar {
  margin-bottom: 50px;

  @include flexbox();
  @include flex-direction(row);
  @include media-breakpoint-up(lg) {
    @include flex-direction(column);
  }

  @at-root #{&}__text {
    flex: 3;

    @include media-breakpoint-up(lg) {
      margin-bottom: 43px;
    }
  }

  @at-root #{&}__image {
    flex: 1;

    text-align: right;

    img {
      height: auto;

      @include media-breakpoint-up(lg) {
        width: 100%;
        height: auto;
      }
    }
  }
}

.articles {
  margin-bottom: 130px;
}

.excerpt {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    flex-direction: row;

    height: 246px;
    margin-bottom: 60px;
  }

  @at-root #{&}__thumbnail {
    flex: 335;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  @at-root #{&}__text {
    flex: 444;

    padding: 10px 0 10px 0;

    @include media-breakpoint-up(md) {
      padding-left: 36px;
    }

    @at-root #{&}__date {
      font-family: 'Barlow', sans-serif;
      font-size: 14px;
      font-weight: 900;

      margin-bottom: 15px;

      text-transform: uppercase;

      color: $primary;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }
    }

    @at-root #{&}__title {
      font-family: 'Barlow', sans-serif;
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 20px;

      text-transform: uppercase;

      color: $tertiary;

      @include media-breakpoint-up(md) {
        font-size: 32px;

        margin-bottom: 110px;
      }
    }

    @at-root #{&}__comment-count {
      font-family: 'Barlow', sans-serif;
      font-size: 14px;
      font-weight: normal;

      text-transform: uppercase;

      color: $primary;
    }
  }
}

.hr--comments {
  width: 40px;
  margin: 0 0 12px 0;

  background: $secondary;

  @include media-breakpoint-up(md) {
    margin-bottom: 8.5px;
  }
}
