//  STAFF
.staffers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff-member {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 145px;
  margin: 15px 0;

  text-align: center;

  @include media-breakpoint-up(sm) {
    width: 210px;
  }
  @include media-breakpoint-up(lg) {
    width: 262px;
  }

  @at-root #{&}__image {
    position: relative;

    width: 145px;
    height: 145px;
    margin-bottom: 24px;

    @include media-breakpoint-up(sm) {
      width: 210px;
      height: 210px;
    }
    @include media-breakpoint-up(lg) {
      width: 262px;
      height: 262px;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }

    > * {
      position: absolute;
      left: 0;

      margin: auto;

      border-radius: 285px;
    }

    &:hover .staff-member__image__link {
      visibility: visible;
    }

    @at-root #{&}__link {
      font-size: 24px;

      display: flex;
      visibility: hidden;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      text-align: center;
      text-transform: uppercase;

      opacity: 0.9;
      background: $magenta;

      a {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: bold;

        padding: 60px 0;

        text-decoration: none;

        color: $white;
      }

      svg {
        font-size: 24px;

        position: relative;
        top: 3px;
        left: 5px;
      }
    }
  }

  @at-root #{&}__title {
    font-family: 'Barlow', sans-serif;
    font-size: 16;
    font-weight: bold;

    margin-bottom: 7px;

    text-transform: uppercase;

    color: $primary;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  @at-root #{&}__job-title {
    font-family: 'Barlow', sans-serif;
    font-size: 14;
    font-weight: bold;

    color: $staff-job-color;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}
