.tribe-events-c-breadcrumbs {
  display: none;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__button {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 0;

  width: 151px;
  height: 45px;
  padding: 0;

  color: $primary;
  border: 1px solid $primary;
  border-radius: 3px;
  background: $white;
}

.tribe-events .tribe-events-c-ical__link {
  color: $primary;
  border-color: $primary;
}

.tribe-events .tribe-events-c-ical__link::before {
  display: none;
}

.tribe-events .tribe-events-c-ical__link:active,
.tribe-events .tribe-events-c-ical__link:focus,
.tribe-events .tribe-events-c-ical__link:hover {
  background-color: $primary;
}

.main ul:not(.share-buttons) li.tribe-events-c-top-bar__nav-list-item {
  margin-bottom: 0;
}
