/*
  Theme Colors
************/
$purple: #30225c;
$purple-light: #50466c;
$purple-transparent: #30225cde;
$green: #cdde00;
$magenta: #a50064;
$dark: #160b3b;
$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.34);
$gray: #d4d2db;
$gray-dark: #585d62; // footer text
$pagination-unclickable: #a4abb2;
$staff-job-color: #4f5459;
$governing-body-title-color: #4f5459;

$primary: $purple;
$primary-transparent: $purple-transparent;
$primary-light: $purple-light;

$secondary: $green;
$tertiary: $magenta;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'dark': $dark
);

$yiq-text-dark: $dark;
$yiq-text-light: $white;
