/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs0wH8DnzcjTrA.woff2) format('woff2');
  unicode-range: U+0102-0103,
  U+0110-0111,
  U+1EA0-1EF9,
  U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs1wH8DnzcjTrA.woff2) format('woff2');
  unicode-range: U+0100-024F,
  U+0259,
  U+1E00-1EFF,
  U+2020,
  U+20A0-20AB,
  U+20AD-20CF,
  U+2113,
  U+2C60-2C7F,
  U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs7wH8Dnzcj.woff2) format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WohvToJdLm8BvE.woff2) format('woff2');
  unicode-range: U+0102-0103,
  U+0110-0111,
  U+1EA0-1EF9,
  U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WogvToJdLm8BvE.woff2) format('woff2');
  unicode-range: U+0100-024F,
  U+0259,
  U+1E00-1EFF,
  U+2020,
  U+20A0-20AB,
  U+20AD-20CF,
  U+2113,
  U+2C60-2C7F,
  U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: italic;

  font-display: swap;
  src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WouvToJdLm8.woff2) format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format('woff2');
  unicode-range: U+0102-0103,
  U+0110-0111,
  U+1EA0-1EF9,
  U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format('woff2');
  unicode-range: U+0100-024F,
  U+0259,
  U+1E00-1EFF,
  U+2020,
  U+20A0-20AB,
  U+20AD-20CF,
  U+2113,
  U+2C60-2C7F,
  U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2) format('woff2');
  unicode-range: U+0102-0103,
  U+0110-0111,
  U+1EA0-1EF9,
  U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2) format('woff2');
  unicode-range: U+0100-024F,
  U+0259,
  U+1E00-1EFF,
  U+2020,
  U+20A0-20AB,
  U+20AD-20CF,
  U+2113,
  U+2C60-2C7F,
  U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2) format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Barlow';
  font-weight: 900;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Black'), local('Barlow-Black'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3j-ws6Fostz0rdom9.woff2) format('woff2');
  unicode-range: U+0102-0103,
  U+0110-0111,
  U+1EA0-1EF9,
  U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-weight: 900;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Black'), local('Barlow-Black'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3j-ws6Vostz0rdom9.woff2) format('woff2');
  unicode-range: U+0100-024F,
  U+0259,
  U+1E00-1EFF,
  U+2020,
  U+20A0-20AB,
  U+20AD-20CF,
  U+2113,
  U+2C60-2C7F,
  U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Barlow';
  font-weight: 900;
  font-style: normal;

  font-display: swap;
  src: local('Barlow Black'), local('Barlow-Black'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3j-ws51ostz0rdg.woff2) format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

$font-family-sans-serif: 'Barlow', sans-serif !default;
$font-family-monospace: 'Barlow', monospace !default;

$primary-font: 'Barlow', sans-serif;
$button-font: 'Barlow', sans-serif;
$title-font: 'Barlow', sans-serif;

// Overriding Bootstrap defaults
$h1-font-size: 2.777rem;
$h3-font-size: 1.777rem;

$blockquote-font-size: 1.223rem;
$breadcrumb-font-size: 0.778rem;

$headings-margin-bottom: 1.5rem;
$breadcrumb-divider-color: #91918f;
$breadcrumb-active-color: #91918f;

/**
  * Font sizes with base-16 (small screens)
  */
$base-font-size: 16px;

$slider-title-font-size: 14px; // Black
$slider-header-font-size: 24px; // Bold
$slider-body-font-size: 14px; // Regular
$slider-link-font-size: 14px; // Bold

$exit-font-size: 10px; // Black

$blurb-font-size: 20px; // Regular

$changing-culture-title-font-size: 22px; // Bold
$changing-culture-text-font-size: 14px; // Regular

$events-title-font-size: 20px; // Black
$events-body-font-size: 16px; // Bold

$news-title-font-size: 20px; // Black
$news-date-font-size: 14px; // Bold
$news-header-font-size: 20px; // Bold
$news-body-font-size: 16px; // Regular

$map-title-font-size: 24px; // Bold

$map-subtitle-font-size: 18px; // Regular
$map-input-font-size: 16px; // Bold

$get-help-title-font-size: 25px; // Bold

$get-help-list-font-size: 24px; // Bold

$build-skills-header-font-size: 38px; // Regular
$build-skills-list-font-size: 12px; // Bold

$content-info-font-size: 24px; // Regular
$content-info-link-font-size: 14px; // Bold
$content-info-info-link-font-size: 16px; // Regular

$primary-button-font-size: 24px; // Black
$secondary-button-font-size: 20px; // Black
$tertiary-button-font-size: 18px; // Black

/**
  * Font sizes with base-18 (medium screens and up)
  */
// $base-font-size: 18px;

// $slider-title-font-size: 14px; // Black
// $slider-header-font-size: 24px; // Bold
// $slider-body-font-size: 14px; // Regular
// $slider-link-font-size: 14px; // Bold

// $exit-font-size: 10px; // Black

// $blurb-font-size: 20px; // Regular

// $changing-culture-title-font-size: 22px; // Bold
// $changing-culture-text-font-size: 14px; // Regular

// $events-title-font-size: 16px; // Black
// $events-body-font-size: 16px; // Bold

// $news-title-font-size: 20px; // Black
// $news-date-font-size: 14px; // Bold
// $news-header-font-size: 20px; // Bold
// $news-body-font-size: 16px; // Regular

// $map-title-font-size: 26px; // Bold
// $map-body-font-size: 18px; // Regular
// $map-input-font-size: 16px; // Bold

// $get-help-title-font-size: 25px; // Bold
// $get-help-list-font-size: 24px; // Bold

// $build-skills-header-font-size: 38px; // Regular
// $build-skills-list-font-size: 12px; // Bold

// $content-info-font-size: 24px; // Regular
// $footer-link-font-size: 12px; // Bold
// $info-link-font-size: 16px; // Regular

// $primary-button-font-size: 24px; // Black
// $secondary-button-font-size: 20px; // Black
// $tertiary-button-font-size: 18px; // Black
