html,
body {
  font-family: $primary-font;
  font-size: 16px;

  overflow-x: hidden; // TODO: Why does a scroll bar appear when I remove this

  color: $dark;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font;
  font-weight: 100;
  @include font-smoothing();
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 36px;

  margin-bottom: 12px;

  color: $magenta;

  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 68px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 900;

  text-transform: uppercase;
  margin: 30px 0;

  @include media-breakpoint-up(md) {
    font-size: 26px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 32px;
  }
}

h4 {
  font-size: 0.875rem;

  text-transform: uppercase;
}

.wp-caption-text {
  font-family: $title-font;
  font-size: 0.75rem;

  letter-spacing: 1.3px;
  text-transform: uppercase;
}

b,
strong {
  font-family: $title-font;
  font-weight: 700;
}

blockquote {
  font-family: $title-font;
  font-weight: 700;
  line-height: 21px;

  border-left: 7px solid $green !important;

  margin: 15px 0;

    p {
    @include media-breakpoint-up(md) {
      font-size: 30px !important;
    }
    @include media-breakpoint-up(xl) {
      font-size: 40px !important;
    }
  }
}

blockquote * {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 37px;
  padding: 19px 0 19px 21px;

  opacity: 0.75;
  color: $dark;

}

img {
  max-width: 100%;
  height: auto;
}

.alignleft {
  padding-right: 1rem;
}

.clearfix {
  clear: both;
}

#breadcrumbs,
.share-buttons {
  padding-left: 0;

  list-style: none;

  li {
    display: inline-block;

    &.separator {
      padding: 0 5px;
    }
  }
}

// pagination with pagenavi

.wp-pagenavi {
  .pages {
    display: none;
  }

  a,
  span {
    font-size: 0.9375rem;

    margin: 0;
    padding: 3px 15px;

    color: #373a3c;
    border: none;
    border-left: 1px solid #dddddd;

    &.previouspostslink {
      border: none;
    }
  }

  span.current {
    color: #ffffff;
    background-color: $dark-blue;
  }
}

// purple side blurs
.slick-slide header {
  position: relative;
}

.left-blur, .right-blur {
  width: 41px;
  height: 260px;
  position: absolute;
  top: 0;

  @include media-breakpoint-up(sm) {
    width: 82px;
    height: 588px;
  }
}

.left-blur {
  opacity: 0.7;
  background-image: linear-gradient(270deg, rgba(49,25,109,0.00) 0%, rgba(22,11,59,0.75) 100%);
  left: 0;
}

.right-blur {
  opacity: 0.71;
  background-image: linear-gradient(90deg, rgba(49,25,109,0.00) 0%, rgba(22,11,59,0.75) 100%);
  right: 0;
}

/*
  = Blocks
*/
.page-wrapper .right-top {
  position: absolute;
  top: 0;
  right: 0;
}

.wrap {
  position: relative;

  margin-top: 110px;

  @include media-breakpoint-up(md) {
    margin-top: 142px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 222px;
  }
}

.home .wrap {
  position: relative;

  margin-top: 123px;

  @include media-breakpoint-up(md) {
    margin-top: 170px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 170px;
  }
}

.home .content {
  margin-bottom: 32px;
}

.content {
  // margin-top: 110px;
  margin-bottom: 192px;

  // @include media-breakpoint-up(md) {
  //   margin-top: 142px;
  // }
  // @include media-breakpoint-up(lg) {
  //   margin-top: 222px;
  // }
}

.wp-block-media-text.has-media-on-the-right,
.wp-block-media-text.has-media-on-the-left {
  // Client can apply these classes to their content by opening the "Advanced" property in the Gutenberg sidebar
  &.one-column-xs {
    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &.one-column-sm {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &.one-column-md {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &.one-column-lg {
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &.one-column-xl {
    @include media-breakpoint-down(xl) {
      display: block;
    }
  }

  .wp-block-media-text__content {
    padding: 0;
  }
}

.wp-block-cover.text-aligned-bottom,
.our-network .wp-block-cover {
  align-items: flex-end;
}

.wp-block-image {
  margin-bottom: 20px;

  figcaption {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;

    margin-top: 4px;
    margin-bottom: 0;

    color: #585d62;
  }
}

.wp-block-cover.alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull,
.wp-block-pullquote.alignfull {
  position: relative;
  right: 50%;
  left: 50%;

  width: 100vw;
  max-width: none !important;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
}

.container {
  @include media-breakpoint-only(xs) {
    padding: 0 40px;
  }

  > .wp-block-cover.alignfull,
  > .wp-block-image.alignfull {
    &:first-child {
      margin-top: -2rem;
    }
  }
}

.wp-block-cover__inner-container {
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  h2 {
    max-width: 100%;
    padding: 0;
  }
}

.wp-block-cover-text {
  font-size: 24px !important;

  margin-right: 50vw;
  margin-left: auto !important;

  strong {
    font-size: 30px !important;

    text-transform: uppercase;
  }
}

// end of Blocks

.full-image img {
  width: 100%;
}

.entry-summary {
  word-break: break-word;
}

.button {
  line-height: 45px;

  padding: 10px;

  text-transform: uppercase;

  border: 1px solid $grey;
}

@mixin red-button {
  padding: 15px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: $red;

  a {
    color: #ffffff;
  }

  &:hover {
    background-color: darken($red, 10%);
  }
}

.red-button {
  @include red-button;
}
