/* Flexbox */
@mixin flexbox {
  //display: -webkit-box;
  //display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;

     -moz-flex-direction: $direction;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -webkit-order: $val;
     -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
          order: $val;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
          justify-content: $justify;

     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
          align-items: $align;

     -moz-align-items: $align;
      -ms-align-items: $align;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;

     -moz-flex-flow: $flow;
}

@mixin button_bg() {
  font-family: $title-font;
  font-weight: 900;

  padding: 0 10px 0 20px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: $red;
  background-image: url(../images/button-bg.png);
  background-repeat: no-repeat;
  background-position: left center;

  a {
    color: #ffffff;
  }
}

@mixin horizontally_align_an_absolutely_positioned_element() {
  right: 0;
  left: 0;

  margin: auto;
}

// Vertically and horizontally aligns an element
// If you know the width and height of the element, include it.
// You'll get better browser support that way.
@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  }

  @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  }

  @else if not $height {
    width: $width;
    margin-left: -($width / 2);

    transform: translateY(-50%);
  }

  @else {
    height: $height;
    margin-top: -($height / 2);

    transform: translateX(-50%);
  }
}

@mixin transition {
  transition: ease-in 0.2s all;
}

/* Flexbox */
@mixin flexbox {
  //display: -webkit-box;
  //display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;

     -moz-flex-direction: $direction;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -webkit-order: $val;
     -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
          order: $val;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
          justify-content: $justify;

     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
          align-items: $align;

     -moz-align-items: $align;
      -ms-align-items: $align;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;

     -moz-flex-flow: $flow;
}

// rotate
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// body:not(.user-is-tabbing) button:focus,
// body:not(.user-is-tabbing) input:focus,
// body:not(.user-is-tabbing) select:focus,
// body:not(.user-is-tabbing) textarea:focus {
//   outline: none;
// }

.add-focus-ring:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
