/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';
@import 'fonts';
@import 'mixins';
@import 'colors';

$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path: '#{$slick-loader-path}fonts/';

/** Bootstrap overrides */
$border-radius: 0.167rem;

$dark-blue: #0275d8;
$grey: #4a4a4a;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-awesome: 'Font Awesome\ 5 Free';

$text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
